#searchBox,
.searchBox {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include mq(700px) {
        padding: 0 7px;
    }
    #stats {
        font-size: 0.7rem;
        padding-top: 10px;
        padding-left: 10px;
        color: #5f5b5be6;
    }
    .searchItems {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: underline;
            color: purple;
            font-size: 0.85rem;
        }
        .searchContents {
            display: flex;
            margin-top: 10px;
            img {
                padding-right: 15px;
            }
            p {
                display: inline-block;
                font-size: 0.7rem;
                margin: 0;
            }
        }
    }
}