@mixin mq($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 22px;
    transition-duration: 500ms;
    @include mq(2000px) {
        font-size: 30px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
                padding-right: 0.55rem;
                @include mq(700px) {
                    padding-right: 1rem;
                }
                a {
                    font-size: 0.7rem;
                    vertical-align: middle;
                    color: #000000de;
                    #menu {
                        color: #737373;
                    }
                    #G {
                        background-color: blueviolet;
                        width: 34px;
                        height: 34px;
                        text-align: center;
                        border: 5px solid blueviolet;
                        border-radius: 50%;
                        color: white;
                        @include mq(960px) {
                            width: 40px;
                            height: 40px;
                            border: 7px solid blueviolet;
                        }
                    }
                }
            }
        }
    }
}

main {
    min-height: calc(100vh - 12.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include mq(370px) {
        min-height: calc(100vh - 10.9rem);
    }
    @include mq(700px) {
        min-height: calc(100vh - 9.5rem);
    }
    h1 {
        position: absolute;
        left: -100000px;
    }
    span {
        font-size: 3rem;
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.5rem;
        @include mq(600px) {
            font-size: 4.5rem;
        }
    }
    .blue {
        color: #4285f4;
    }
    .red {
        color: #e94235;
    }
    .yellow {
        color: #fabb05;
    }
    .green {
        color: #34a853;
    }
    #e {
        display: inline-block;
        transform: rotate(-15deg);
    }
    #search {
        margin: 1.5rem auto;
        width: 100%;
        margin-bottom: 0.6rem;
        @include mq(700px) {
            width: 90%;
        }
        @include mq(960px) {
            width: 70%
        }
        @include mq(1245px) {
            width: 50%;
        }
    }
}

form {
    #is {
        border: 1px solid #e7e7e7;
        border-radius: 50px;
        height: 2.3rem;
        text-align: center;
        margin: 0px auto;
        #spng {
            color: #4285f4;
            vertical-align: middle;
        }
        label {
            position: absolute;
            left: -100000px;
        }
        input {
            border: none;
            padding: 0;
            width: calc(100% - 76px);
            vertical-align: middle;
            height: 100%;
            writing-mode: sideways-lr !important;
            font-size: 0.9rem;
            @include mq(960px) {
                width: calc(100% - 85px);
            }
        }
        input:focus {
            outline: none;
        }
        #vpng {
            vertical-align: middle;
            color: #93c7c6;
            display: initial;
        }
        #crosspng {
            vertical-align: middle;
            display: none;
        }
        #crosspng:hover,
        #crosspng:focus {
            color: #e94235;
            padding-bottom: 5px;
            border-bottom: 1px solid #e94235;
            cursor: pointer;
            vertical-align: text-top;
            outline: none;
            transition-duration: initial;
        }
        #clearConfirmation {
            position: absolute;
            left: -100000px;
        }
    }
    #is:hover,
    #is:focus {
        box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
        transition-duration: initial;
    }
    #bt {
        text-align: center;
        margin: 19px auto;
        button {
            font-size: 0.7rem;
            border: none;
            background-color: #f8f9fa;
            padding: 13px 12px;
            margin: auto 5px;
        }
        button:hover {
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
            transition-duration: initial;
        }
        button:focus {
            border: 1px solid #4d90fe;
            outline: none;
            transition-duration: initial;
        }
    }
}

#dl {
    text-align: center;
    font-size: 0.7rem;
    a {
        font-size: 0.7rem;
    }
}

footer {
    width: 100%;
    .footer {
        background-color: #f2f2f2;
        border-top: 1px solid #dadce0;
        color: #000000ab;
        line-height: 30px;
        font-size: 0.7rem;
        padding-left: 15px;
        @include mq(960px) {
            line-height: 40px;
        }
        a {
            font-size: 0.7rem;
            color: #000000ab;
            padding-right: 15px;
        }
    }
    #f2 {
        @include mq(700px) {
            display: flex;
            justify-content: space-between;
        }
        br {
            @include mq(700px) {
                display: none;
            }
        }
    }
}

@import "_results";
//
// WHEN  API  IS  CALLED
//
.main {
    margin-top: 1rem;
    min-height: calc(100vh - 8.8rem);
}

.alphabets {
    font-size: 1.8rem;
    letter-spacing: normal;
}

.form {
    border: 1px solid #0000001a;
    border-top: 0;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.301);
    border-radius: 30px;
}

.none {
    display: none;
}