* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    position: relative;
    top: 0;
    padding-right: 20px;
    text-align: end;
}

li {
    display: inline-block;
    margin: 4px;
    padding: 4px;
    vertical-align: middle;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: smaller;
    color: black;
}

nav img {
    width: 20px;
    vertical-align: middle;
}

#menu {
    opacity: 0.65;
}

#menu:hover {
    opacity: 1;
}

#G {
    background-color: blueviolet;
    width: 25px;
    height: 25px;
    border: 6px solid blueviolet;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 22px;
}

#googlePhoto {
    position: relative;
    top: 3rem;
    text-align: center;
}

#pngImage {
    width: 20em;
}

#search {
    position: relative;
    top: 1rem;
}

#is {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 37rem;
    margin: 2rem auto;
    height: 3rem;
    margin-bottom: 1rem;
}

#is:hover,
#is:focus {
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
}

#inputImage {
    width: 1.2rem;
    padding-top: 16px;
    padding-left: 13px;
    opacity: .5;
}

input {
    border: none;
    width: 32rem;
    position: relative;
    bottom: 3px;
    line-height: 44px;
    font-size: 20px;
    border: none;
}

input:hover,
input:focus {
    outline: none;
    border: none;
}

#voiceSearch {
    width: 1rem;
    position: relative;
}

#bt {
    text-align: center;
}

button {
    margin: 20px 5px;
    padding: 0 10px;
    line-height: 40px;
    font-size: smaller;
    border: 0px;
    background-color: #f8f9fa;
}

button:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

#dl {
    text-align: center;
    font-size: smaller;
    margin: 25px 10px;
}

footer {
    position: relative;
    top: 8rem;
    width: 100%;
}

.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    color: rgba(0, 0, 0, .54);
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

#f2 {
    padding-left: 10px;
}

.footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    margin-left: 20px;
}

a:hover {
    text-decoration: underline;
}

br {
    display: none;
}

@media screen and (max-width:675px) {
    #is {
        width: 32rem;
    }
    input {
        width: 27rem;
    }
    #f2 {
        display: block;
        text-align: center;
    }
    span {
        display: block;
    }
    br {
        display: block;
    }
}

@media screen and (max-width:500px) {
    #is {
        width: 25rem;
    }
    input {
        width: 20rem;
    }
}

@media screen and (max-width:425px) {
    #pngImage {
        width: 14em;
    }
    #is {
        width: 20rem;
    }
    input {
        width: 15rem;
    }
}